/* Estilos generales */
body {
  margin: 0;
  padding: 0;
}

/* Estilos de la pantalla principal */
.purple-bg {
  background-color: #c7a7cf;
}

/* Estilos de los cuadritos de colores */
.color-box {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Estilos de las imágenes medianamente pequeñas (tamaño fijo) */
.small-image {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}

/* Estilos de las imágenes de teléfono */
.phone-container {
  text-align: center;
}

.project-info {
  position: relative;
  overflow: hidden;
}

.pink-stripe {
  background: linear-gradient(45deg, #f5e6f7 25%, transparent 25%, transparent 50%, #f5e6f7 50%, #f5e6f7 75%, transparent 75%, transparent);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}